<div ng-controller="empCntrl" data-ng-init="initData()">
<h2 class="h2-text">Employee Details </h2>

<table style="margin-left: 20%;width:60%;">
<tr>
<td>Welcome : {{username}}</td>
<td style="text-align:right; width: 85%"><a href="#" style="margin-left: 77%;" ng-click='logout();'>Logout</a></td>
</tr>
</table>

<span style="color:red; margin-left: 43%;" ng-show="validationError" >Enter All Employee Fields.</span>
<span style="color:red; margin-left: 43%;" ng-show="validEmailId">Valid Email Id is required.</span>
<span style="color:red; margin-left: 43%;" ng-show="validFirstName">Please Enter Valid First Name.</span>
<span style="color:red; margin-left: 43%;" ng-show="validLastName">Please Enter Valid Last Name.</span>
<span style="color:red; margin-left: 35%;" ng-repeat="err in errList">
	Field Name : {{err.field}} Error Message :  {{err.message}}
</span>
<span style="color:red; margin-left: 43%;">{{errorMsg}}</span>

<div style="margin-left: 65%;margin-bottom: 10px;"> <input type="text" ng-model="searchBox" maxlength="50" id="textFieldId"> 
	<input type="button" value="Search" ng-click="editDetails();" class="pure-button"> 
</div>

<table class="table-form">
	<tr>
		<td class="label-text">First Name:</td>
		<td><input type="text" maxlength="30" alt="Enter Employee First Name" ng-model="form.fname" id="fname-id" ng-readonly="fnameReadOnly">
		</td>
	</tr>
	<tr>
		<td class="label-text">Last Name:</td>
		<td><input type="text" maxlength="30" alt="Enter Employee Last Name" ng-model="form.lname" id="lname-id" ng-readonly="lnameReadOnly">
		</td>
	</tr>
	<tr>
		<td class="label-text">Email Id:</td>
		<td><input type="text" maxlength="50" alt="Enter Employee Email Id" ng-model="form.email" id="email-id" ng-readonly="emailReadOnly">
		</td>
	</tr>
	<tr>
		<td class="label-text">Photo:</td>
		<td><input type="file" maxlength="50" alt="Upload Employee Photo" filemodel="form.photo" />
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="button" name="Save" value="Save" ng-click="addUser();" ng-disabled="disabled"></td>
	</tr>
</table>

<div style="height: 10px;"></div>

<table class="table-display" border="1">
	
	<tr class="table-display-th">
		<td >First Name</td>
		<td>Last Name</td>
		<td>Email</td>
		<td>Photo</td>
		<td>Action</td>
	</tr>

	<tr ng-repeat="emp in employees | empDataFilter:searchBox " class="table-display-tr" ng-class="{'table-display-tr-hl': emp.highlight}">
		<td>{{emp.firstName}}</td>
		<td>{{emp.lastName}}</td>
		<td>{{emp.email}}</td>
		<td><a ng-click="openViewImagePopUp(emp);" href="">View Photo</a></td>
		<!-- <td><a ng-click="openModal(emp);" href="">View Photo</a></td> -->
		<td>
			<input type="button" value="edit" ng-click="editEmployee(emp);"/>
			<input type="button" value="delete" ng-click="deleteEmp(emp);"/>
		</td>
	</tr>
</table>
</div>
