<div ng-controller="loginCntrl" data-ng-init="initData()">
<table style="width: 100%;">
<tr>
	<td colspan="2"><h2 class="h2-text">Welcome to Employee Details Application </h2></td>
</tr>
<tr>
<td height="100%" width="50%"></td>
<td height="100%" width="50%" align="left">
	<span style="color:red; margin-left: 35%;" ng-show="loginFailure">Invalid Username / Password</span>
	<span style="color:red; margin-left: 35%;" >{{errorMessage}}</span>
	<form name="loginForm">
	<table class="table-form">
		<tr>
			<td class="label-text" ">Username:</td>
			<td><input type="text" maxlength="30" alt="Enter Username" name="username" ng-model="form.username" class="input-box" required>
				<span style="color:red;" ng-show="loginForm.username.$dirty && loginForm.username.$error.required">Username required</span>
			</td>
		</tr>
		<tr>
			<td class="label-text">Password:</td>
			<td><input type="password" maxlength="30" alt="Enter Password" name="password" ng-model="form.password" class="input-box" required="required">
				<span style="color:red;" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Password required</span>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="button" name="Login" value="Login" ng-click="login();" ng-disabled="loginForm.$invalid" class="button"></td>
		</tr>
	</table>
	</form>
</td>
</tr>

</table>
</div>
